extends ../layout

block content
    h1.
    p Name: #{project.name}
    p Location: #{project.location}
    p Value: #{project.value}
    p Manager: #{project.manager}
    p Suppliers: #{project.suppliers}
    
