extends ../layout

block content
    h1.
    <img src="/images/#{bank.name}.png">
    p Name: #{bank.name}
    p Branch: #{bank.branch}
    p IFSC: #{bank.IFSC}
    p LC_limit: #{bank.LC_limit}
    p LC_used: #{bank.LC_used}
    p LCs : #{bank.LCs}
